@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&family=Sixtyfour&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:   "Roboto","Helvetica","Arial",sans-serif;
}
/* body{    
    background-color:#000;/*#FFFEFC;/*#F8F7F3;
} */
html{
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}